<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleIdentifier</key>
	<string>__PRONTO_HELPER_BUNDLE_ID__</string>
	<key>CFBundleName</key>
	<string>pronto-notify</string>
	<key>CFBundleDisplayName</key>
	<string>__PRONTO_HELPER_DISPLAY_NAME__</string>
	<key>CFBundleExecutable</key>
	<string>pronto-notify</string>
	<key>CFBundleIconFile</key>
	<string>AppIcon</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>1.0</string>
	<key>CFBundleVersion</key>
	<string>__PRONTO_HELPER_VERSION__</string>
	<key>LSMinimumSystemVersion</key>
	<string>11.0</string>
	<key>LSUIElement</key>
	<true/>
	<key>NSUserNotificationsUsageDescription</key>
	<string>Pronto posts pull request status notifications.</string>
</dict>
</plist>
